<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GPS Map</title>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-core.js"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-service.js"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-ui.js"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-routing.js"></script>
    <style>
        #map {
            width: 100%;
            height: 500px;
        }
    </style>
</head>
<body>
    <h1>GPS Map</h1>
    <div id="map"></div>
    <script>
        var platform = new H.service.Platform({
            apikey: 'uhoINcfvrOoXP8nsbP0O8YFrNHA81NXvBWHjX8r5_3I'
        });

        var defaultLayers = platform.createDefaultLayers();
        var map = new H.Map(document.getElementById('map'),
            defaultLayers.vector.normal.map, {
            center: {lat: 52.5, lng: 13.4},
            zoom: 10,
            pixelRatio: window.devicePixelRatio || 1
        });

        window.addEventListener('resize', () => map.getViewPort().resize());

        var mapEvents = new H.mapevents.MapEvents(map);
        var behavior = new H.mapevents.Behavior(mapEvents);
        var ui = H.ui.UI.createDefault(map, defaultLayers);

        var gpsData = {{ gps_data | tojson }};
        if (gpsData.length > 0) {
            map.setCenter({lat: gpsData[0].latitude, lng: gpsData[0].longitude});
            map.setZoom(12);

            var routingParameters = {
                'mode': 'fastest;car',
                'routeattributes': 'summary,shape',
                'maneuverattributes': 'direction,action',
                'waypoint0': `geo!${gpsData[0].latitude},${gpsData[0].longitude}`,
                'waypoint1': `geo!${gpsData[gpsData.length-1].latitude},${gpsData[gpsData.length-1].longitude}`
            };

            var router = platform.getRoutingService();
            router.calculateRoute(routingParameters, onResult, onError);

            function onResult(result) {
                if (result.response.route) {
                    var route = result.response.route[0];
                    var lineString = new H.geo.LineString();
                    route.shape.forEach(function(point) {
                        var parts = point.split(',');
                        lineString.pushLatLngAlt(parts[0], parts[1]);
                    });
                    var polyline = new H.map.Polyline(lineString, {
                        style: {strokeColor: 'blue', lineWidth: 4}
                    });
                    map.addObject(polyline);
                    map.getViewModel().setLookAtData({bounds: polyline.getBoundingBox()});
                }
            }

            function onError(error) {
                console.error(error);
                alert('Error calculating the route');
            }

            gpsData.forEach(function(data) {
                var marker = new H.map.Marker({lat: data.latitude, lng: data.longitude});
                map.addObject(marker);
            });
        } else {
            alert('No GPS data available to generate the map.');
        }
    </script>
</body>
</html>
