<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GPS Data</title>
</head>
<body>
    <h1>GPS Data</h1>
    <table>
        <tr>
            <th>Timestamp</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Speed</th>
            <th>Distance</th>
        </tr>
        {% for data in gps_data %}
        <tr>
            <td>{{ data.timestamp }}</td>
            <td>{{ data.latitude }}</td>
            <td>{{ data.longitude }}</td>
            <td>{{ data.speed }}</td>
            <td>{{ data.distance }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
